* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#background {
    height: 100vh;
}

.content {
    z-index: 99999999;
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    font-size: calc(20px + 5vw);
}

* {
    color: white;
    font-family: 'Inconsolata', monospace;
}

#status {
    margin-left: 0.5vw;
}

span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.button {
    margin-left: 0.5vw;
    margin-top: 2vh;
    background-color: black;
    border: 0;
    padding: 0.5vw;
    cursor: pointer;
    width: calc(10vw + 40px);
    height: 2.5vh;
    text-decoration: none;
    font-size: calc(1vw + 10px);
}

.arrow::after {
    display: inline-block;
    padding-left: 0.5vw;
    content: "\0279E";
    -webkit-transition: transform 0.1s ease-out;
    -moz-transition: transform 0.1s ease-out;
    -ms-transition: transform 0.1s ease-out;
    -o-transition: transform 0.1s ease-out;
    transition: transform 0.1s ease-out;
}
.arrow:hover::after {
    -webkit-transform: translateX(6px);
    -moz-transform: translateX(6px);
    -ms-transform: translateX(6px);
    -o-transform: translateX(6px);
    transform: translateX(6px);
}
  
