
h2 {
    font-size: 15px;
}

* {
    font-family: 'Comfortaa', cursive;
}

div {
    text-align: center;
    margin-top: 2%;
}
input {
    text-align: center;
    width: 250px;
    height: 60px;
}

button {
    width: 250px;
    height: 70px;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}

select {
    border: 2px solid black;
}